{% extends "base.html" %}
{% set active_page = 'client' %}
{% block title %}Client{% endblock %}
{% block content %}

<br />
<div class="d-flex justify-content-between"><h2>Super Long Engineering Company Name</h2><div><button class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#logCallModal">Log Call</button><button class="btn btn-warning mx-1" data-bs-toggle="modal" data-bs-target="#newTaskModal">New Note</button></div></div>
<!--body area-->
<div class="container-fluid px-4">
  <div class="row my-3 gx-3">
    <!-- left column details-->
    <div class="col-3">
        <!-- general information about the sub-->
        <div class="p-3 border bg-white ">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Office:</h6><a href="#" data-bs-toggle="modal" data-bs-target="#mainInfoModal"><i class="bi bi-pencil-square"></i></a></div>
            <hr class="m-1">
            <p>
            50 Naples Lane <br>
            Montgomery, TX 77356 <br>
            P: 916.2222555.5555 <br>
            F: 916.555.5555
            </p>
        </div>
        <!-- contact information for the sub-->
        <div class="p-3 border bg-white my-3">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Contacts:</h6><div><a href="#" title="Add Contact" data-bs-toggle="modal" data-bs-target="#addContactModal"><i class="bi bi-plus-square"></i></a> <a href="#" title="Edit Contact" data-bs-toggle="modal" data-bs-target="#editContactModal"><i class="bi bi-pencil-square"></i></a></div></div>
            <hr class="m-1">
            <ul class="list-unstyled">
                <li>Sean Chiquet: sean.chiquet@yahoo.com</li>
                <li>Estimating Coordinator: estimating@testcompanyname.com <i class="bi bi-star-fill text-warning" ></i></li>
            </ul>
        </div>
        <!-- trades and labor information-->
        <div class="border p-3 bg-white my-3">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Trades:</h6><a href="#"><i class="bi bi-pencil-square"></i></a></div>
            <hr class="m-1">
            <ul class="list-unstyled">
                <li>008500: Vinyl Windows</li>
                <li>008500: Glass and Glazing</li>
                <li>008500: Fiberglass Doors</li>
                <li>007500: Fiber Cement Siding</li>
            </ul>
        </div>
        <!-- subcontractor financials-->
        <div class="border p-3 bg-white my-3">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Financials:</h6><a href="#" data-bs-toggle="modal" data-bs-target="#companyFinancialsModal"><i class="bi bi-pencil-square"></i></a></div>
            <hr class="m-1">
            <p>
                Labor Type: Non-Union <br>
                Does Prevailing: Yes <br>
                Pre-qualified: Yes <br>
                Pre-Qualification Amount: $250,000 <br>
            </p>
        </div>
    </div>
    <!-- Begin Center Column area-->
    <!-- Notes and Call Log Area-->
    <div class="col-7">
        <div class="border p-3 bg-white">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Notes and Conversations:</h6></div>
            <hr class="m-1">
            <ul class="list-unstyled">
                <li>9/21/2021: <span class="text-danger">schiquet</span>: Called sub to discuss pricing terms for the project in Sacramento.</li>
                <li>9/20/2021: <span class="text-danger">schiquet</span>:  Added to master sub list.</li>
            </ul>
        </div>
    </div>
    <!-- right column-->
    <div class="col-2">
        <div class="border p-3 bg-white">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Tags:</h6></div>
            <hr class="m-1">
            <p>
                <span class="rounded-pill px-2 bg-info">Union</span>
                <span class="rounded-pill px-2 bg-info">Bay Area</span>
                <span class="rounded-pill px-2 bg-info">Prevailing</span>
                <span class="rounded-pill px-2 bg-info">Qualified</span>
                <a href="#"><span class="rounded-pill px-2 bg-light">+Add Tag</span></a>
            </p>
        </div>
    </div>
  </div>
</div>


{% endblock %}
{% block modals %}
<!--modals below here-->

<!-- Add new task Modal-->
<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="newTaskForm" action="/addNote" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <textarea class="form-control" name="addNewTaskTextArea" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- Log Call Modal-->
<div class="modal fade" id="logCallModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="logCallForm">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log Call</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <textarea class="form-control" id="logCallTextArea" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Log Call</button>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- Edit Main info Modal-->
<div class="modal fade" id="mainInfoModal" tabindex="-1" aria-labelledby="mainInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mainInfoModalLabel">Office Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="mainInfoForm">
        <div class="modal-body">
          <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control" placeholder="Address Line 1"/ required>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control" placeholder="Address Line 2"/>
          </div>
          <div class="row mb-4">
            <div class="col-5">
              <div class="form-outline">
                <input type="text" id="infoFormCity" class="form-control" placeholder="City" required>
              </div>
            </div>
            <div class="col-3">
              <div class="form-outline">
                <input type="text" id="infoFormState" class="form-control" placeholder="State" required>
              </div>
            </div>
            <div class="col-4">
              <div class="form-outline">
                <input type="text" id="infoFormZip" class="form-control" placeholder="Zip" required>
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="inputFormPhone" class="form-control" placeholder="Phone" required/>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="inputFormFax" class="form-control" placeholder="Fax"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add Contacts Modal-->
<div class="modal fade" id="addContactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addContactForm">
        <div class="modal-body">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="addContactFirstName" class="form-control" placeholder="First Name" required>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="addContactLastName" class="form-control" placeholder="Last Name" required>
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <input type="email" id="addContactEmail" class="form-control" placeholder="Email" required />
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="addContactCell" class="form-control" placeholder="Cell Phone"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Contact Modal-->


<!-- Edit Financials Modal-->
<div class="modal fade" id="companyFinancialsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Company Financials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="companyFinancialForm">
        <div class="modal-body">
          <div class="form-outline mb-4">
            <label for="laborTypeSelect" class="form-label">Labor Type:</label>
            <select class="form-control" name="laborType" id="laborTypeSelect">
              <option value="Union">Union</option>
              <option value="Non-Union">Non-Union</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <label for="prevailBoolSelect" class="form-label">Does Prevailing Wage Work:</label>
            <select class="form-control" name="prevailBool" id="prevailBoolSelect">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <label for="prequalBoolSelect" class="form-label">Pre-Qualified:</label>
            <select class="form-control" name="laborType" id="prequalBoolSelect">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="prequalAmountText" class="form-control" placeholder="Pre-Qualified Amount"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>








{% endblock %}
