{% extends "base.html" %}
{% set active_page = 'client' %}
{% block title %}Client{% endblock %}
{% block content %}

<br />
<div class="d-flex justify-content-between"><h2>Super Long Engineering Company Name</h2><div><button class="btn btn-danger" type="submit">Log Call</button><button class="btn btn-warning mx-2" type="submit">New Note</button></div></div>
<!-- left column of details-->
<div class="container-fluid px-4">
  <div class="row my-3 gx-3">
<!-- general information about the sub-->
    <div class="col-3">
        <div class="p-3 border bg-white ">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Details:</h6><i class="bi bi-pencil-square"></i></div>
            <hr class="m-1">
            <p>50 Naples Lane</p>
            <p>Montgomery, TX 77356</p>
            <p>P: 916.555.5555</p>
            <p>F: 916.555.5555</p>
        </div>
<!-- contact information for the sub-->
        <div class="p-3 border bg-white my-3">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Contacts</h6><i class="bi bi-pencil-square"></i></div>
            <hr class="m-1">
            <p>Sean Chiquet: sean.chiquet@yahoo.com</p>
        </div>
<!-- trades and labor information-->
        <div class="border p-3 bg-white">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Trades:</h6><i class="bi bi-pencil-square"></i></div>
            <hr class="m-1">
            <ul>
                <li>008500: Vinyl Windows</li>
                <li>008500: Glass and Glazing</li>
                <li>008500: Fiberglass Doors</li>
                <li>007500: Fiber Cement Siding</li>
            </ul>
        </div>
    </div>
  </div>
</div>


{% endblock %}
