{% extends "base.html" %}
{% set active_page = 'client' %}
{% block title %}{{clientInfo.subName}}{% endblock %}
{% block content %}

<br />
<div class="d-flex justify-content-between"><h2>{{clientInfo.subName}}</h2><div><button class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#logCallModal">Log Call</button><button class="btn btn-warning mx-1" data-bs-toggle="modal" data-bs-target="#newTaskModal">New Note</button></div></div>
<!--body area-->
<div class="container-fluid px-4">
  <div class="row my-3 gx-3">
    <!-- left column details-->
    <div class="col-3">
        <!-- general information about the sub-->
        <div class="p-3 border bg-white ">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Office:</h6><a href="#" data-bs-toggle="modal" data-bs-target="#mainInfoModal"><i class="bi bi-pencil-square"></i></a></div>
            <hr class="m-1">
            <p>
            {{clientInfo.subAddress}} <br>
            {% if clientInfo.subAddress2 is not none %}{{clientInfo.subAddress2}} <br> {% else %} {% endif %}
            {{clientInfo.subCity}}, {{clientInfo.subState}} {{clientInfo.subZip}} <br>
            P: {{clientInfo.subPhone}} <br>
            {% if clientInfo.subFax is not none %}F: {{clientInfo.subFax}}{% else %}{% endif %}
            </p>
        </div>
        <!-- contact information for the sub-->
        <div class="p-3 border bg-white my-3">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Contacts:</h6><div><a href="#" title="Edit Contact" data-bs-toggle="modal" data-bs-target="#editContactModal"><i class="bi bi-pencil-square"></i></a></div></div>
            <hr class="m-1">
            <ul class="list-unstyled">
              {% for i in contactinfo %}
                <li>{{i.contactName}} {{i.contactLastName}}: {{i.contactEmail}}</li>
              {% endfor %}
            </ul>
        </div>
        <!-- trades and labor information-->
        <div class="border p-3 bg-white my-3">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Trades:</h6><a href="#" data-bs-toggle="modal" data-bs-target="#editTradesModal"><i class="bi bi-pencil-square"></i></a></div>
            <hr class="m-1">
            <ul class="list-unstyled">
              {% for trades in subtradelist %}
                <li>{{trades.tradeCode}}: {{trades.tradeName}}</li>
               {% endfor %}
            </ul>
        </div>
        <!-- subcontractor financials-->
        <div class="border p-3 bg-white my-3">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Financials:</h6><a href="#" data-bs-toggle="modal" data-bs-target="#companyFinancialsModal"><i class="bi bi-pencil-square"></i></a></div>
            <hr class="m-1">
            <p>
                Labor Type: {{clientInfo.subLabor}}<br>
                Does Prevailing: {% if clientInfo.subDoesPrevailing == 1 %}Yes{% else %}No{% endif %}<br>
                Pre-qualified: {% if clientInfo.subPreQual == 1 %}Yes{% else %}No{% endif %}<br>
                Pre-Qualification Amount: {{clientInfo.subPreQualAmount}} <br>
            </p>
        </div>
    </div>
    <!-- Begin Center Column area-->
    <!-- Notes and Call Log Area-->
    <div class="col-7">
        <div class="border p-3 bg-white">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Notes and Conversations:</h6></div>
            <hr class="m-1">
            <ul class="list-unstyled">
              {% for notes in subNotes %}
                <li><i class="bi {% if notes.noteType == 'phone' %}bi-telephone{% else %}bi-sticky{% endif %} text-primary"></i> {{notes.noteDateCreated}}: <span class="text-danger">{{notes.userUsername}}</span>: {{notes.subNote}}</li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <!-- right column-->
    <div class="col-2">
        <div class="border p-3 bg-white">
            <div class="d-flex justify-content-between"><h6 class="fw-bold">Tags:</h6></div>
            <hr class="m-1">
            <p>
                <span class="rounded-pill px-2 bg-info">Union</span>
                <span class="rounded-pill px-2 bg-info">Bay Area</span>
                <span class="rounded-pill px-2 bg-info">Prevailing</span>
                <span class="rounded-pill px-2 bg-info">Qualified</span>
                <a href="#"><span class="rounded-pill px-2 bg-light">+Add Tag</span></a>
            </p>
        </div>
    </div>
  </div>
</div>


{% endblock %}
{% block modals %}
<!--modals below here-->

<!-- Add new task Modal-->
<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="newTaskForm" action="/addNote" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <textarea class="form-control" name="addNewTaskTextArea" required></textarea>
          </div>
          <input type="text" class="visually-hidden" value="{{id}}" name="newNoteSubId">
          <input type="text" class="visually-hidden" value="note" name="newNoteType">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Note</button>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- Log Call Modal-->
<div class="modal fade" id="logCallModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="logCallForm" action="/addPhoneNote" method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log Call</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <input type="text" class="visually-hidden" value="{{id}}" name="newNoteSubId">
          <input type="text" class="visually-hidden" value="phone" name="newNoteType">
          <div class="modal-body">
            <textarea class="form-control" name="logCallTextArea" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Log Call</button>
          </div>
        </form>
      </div>
    </div>
</div>

<!-- Edit Main info Modal-->
<div class="modal fade" id="mainInfoModal" tabindex="-1" aria-labelledby="mainInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mainInfoModalLabel">Office Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="mainInfoForm">
        <div class="modal-body">
          <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control" placeholder="{{clientInfo.subAddress}}">
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control" placeholder="{% if clientInfo.subAddress2 is not none %}{{clientInfo.subAddress2}}{% else %}Address Line 2{% endif %}"/>
          </div>
          <div class="row mb-4">
            <div class="col-5">
              <div class="form-outline">
                <input type="text" id="infoFormCity" class="form-control" placeholder="{{clientInfo.subCity}}">
              </div>
            </div>
            <div class="col-3">
              <div class="form-outline">
                <input type="text" id="infoFormState" class="form-control" placeholder="{{clientInfo.subState}}">
              </div>
            </div>
            <div class="col-4">
              <div class="form-outline">
                <input type="text" id="infoFormZip" class="form-control" placeholder="{{clientInfo.subZip}}">
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="inputFormPhone" class="form-control" placeholder="{{clientInfo.subPhone}}">
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="inputFormFax" class="form-control" placeholder="{% if clientInfo.subFax is not none %}{{clientInfo.subFax}}{% else %}Fax{% endif %}"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Contacts Modal-->
<div class="modal fade" id="editContactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="addContactForm" action="/addContact" method="POST">
        <div class="modal-body">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" name="firstname" class="form-control" placeholder="First Name" required>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" name="lastname" class="form-control" placeholder="Last Name" required>
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control" placeholder="Email" required />
          </div>
          <div class="form-outline mb-4">
            <input type="text" name="cell" class="form-control" placeholder="Cell Phone"/>
          </div>
          <input type="text" class="visually-hidden" value="{{id}}" name="newTradeSubId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Trades Modal-->
<div class="modal fade" id="editTradesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Trades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="unstyle">
            {% for trades in subtradelist %} 
            <li>{{trades.tradeCode}}: {{trades.tradeName}} <a href="/clearTrade/{{trades.tradesublinkID}}/{{id}}"><i class="bi bi-x-square text-danger"></i></a></li>
            {% endfor %}
          </ul>
          <br>
          <h5>Add New Trade</h5>
          <form name="addTradeLink" action="/addTradeLink" method="POST">
          <select name="addTradeSelect" class="form-control" aria-placeholder="Add New Trade">
              {% for i in alltrades %}
              <option value="{{i.tradeId}}">{{i.tradeCode}} - {{i.tradeName}}</option>
              {% endfor %}
          </select>
          <input type="text" class="visually-hidden" value="{{id}}" name="newTradeSubId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Trade</button>
        </form>
        </div>
    </div>
  </div>
</div>

<!-- Edit Financials Modal-->
<div class="modal fade" id="companyFinancialsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Company Financials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="companyFinancialForm">
        <div class="modal-body">
          <div class="form-outline mb-4">
            <label for="laborTypeSelect" class="form-label">Labor Type:</label>
            <select class="form-control" name="laborType" id="laborTypeSelect">
              <option value="Union" {% if clientInfo.subLabor == "Union" %} selected {% endif %}>Union</option>
              <option value="Non-Union" {% if clientInfo.subLabor == "Non-Union" %} selected {% endif %}>Non-Union</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <label for="prevailBoolSelect" class="form-label">Does Prevailing Wage Work:</label>
            <select class="form-control" name="prevailBool" id="prevailBoolSelect">
              <option value="yes" {% if clientInfo.subDoesPrevailing == 1 %} selected {% endif %}>Yes</option>
              <option value="no" {% if clientInfo.subDoesPrevailing == 0 %} selected {% endif %}>No</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <label for="prequalBoolSelect" class="form-label">Pre-Qualified:</label>
            <select class="form-control" name="laborType" id="prequalBoolSelect">
              <option value="yes" {% if clientInfo.subPreQual == 1 %} selected {% endif %}>Yes</option>
              <option value="no" {% if clientInfo.subPreQual == 0 %} selected {% endif %}>No</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="prequalAmountText" class="form-control" placeholder=" {% if clientInfo.subPreQualAmount > 0 %}{{clientInfo.subPreQualAmount}}{% else %}Pre-Qualified Amount{% endif %}"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>








{% endblock %}
