{% extends "base.html" %}
{% set active_page = 'tasks' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3>Tasks</h3>
        </div>
    </div>
        <form action="/tasks" name="task" METHOD="POST">
            <div class="mb-3 input-group">
                <input type="text" placeholder="Type Task Here..." name="task" class="form-control">
                <div class="">
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
            </div>
        </form>
    <!-- tasklist begin-->
    <ul class="list-group list-group-flush mt-3">
    {% for tasks in tasks %}
    <li class="list-group-item bg-light">
      <div class="custom-control custom-checkbox">
        <a href="/clear/{{tasks.id}}"><i class="bi bi-x-square" style="color: red;"></i></a><span class="mx-2">{{tasks.task}}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

