{% extends "base.html" %}
{% set active_page = 'testing' %}
{% set test_var = tasks|length %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"><span>test stuff here</span></div>
    </div>
</div>


{{test_var}}
{% for item in tasks %}
    <p>{{item.task_id}}. {{item.task_name}}</p>
{% endfor %}
<br/>
{{clientInfo.subName}}
<br/>
<form name="addTrade" action="/addTrade" METHOD="post">
    <input type="text" class="form-control" name="tradeCode" placeholder="Trade Code">
    <input type="text" class="form-control" name="tradeName" placeholder="Trade Name">
    <button class="btn btn-primary" type="submit">Add Trade</button>
</form>

{% for i in tslinklist %}
<p>{{i.tradesublinkID}} | {{i.tradeId}} | {{i.subId}}</p>
{% endfor %}

{% for notes in sub1Notes %}
{{notes.noteDateCreated}} {{notes.noteType}} {{notes.subNote}} {{notes.userUsername}}<br>
{% endfor %}

{% endblock %}

